.PortfolioDetailContent p {
  font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
}
.PortfolioDetailContent time {
  font-size: 12px;
  font-weight: 700;
  color: #909296;
}
.PortfolioDetailContent_body figure {
  width: 315px;
  height: 184px;
  position: relative;
  overflow: hidden;
  margin: 0 0 20px 0;
}
