.list {
  display: flex;
  flex-wrap: wrap;
}
.list li {
  width: 31%;
  margin-bottom: 40px;
}
.list li:not(:nth-child(3n)) {
  margin-right: calc(7% / 2);
}
.list li figure {
  margin-bottom: 16px;
}
.list li h3 {
  font-size: 22px;
  font-weight: 700;
}
.list li p {
  font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
}

.list li figure {
  width: 100%;
  height: 184px;
  position: relative;
  overflow: hidden;
}
.list li figure span,
.list li figure img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.list li time {
  font-size: 12px;
  font-weight: 700;
  color: #909296;
  margin-top: 8px;
}
@media (max-width: 767px) {
  .list {
    justify-content: space-between;
  }
  .list li {
    width: 49%;
  }
  .list li:not(:nth-child(3n)) {
    margin-right: 0;
  }
}
@media (max-width: 576px) {
  .list li {
    width: 100%;
  }
}

.portfolioCard figure {
  width: 100%;
}
