.wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.wrapper .main{
  flex: 1;
}
.content section{
  padding: 80px 0 20px;
}
.content_inner{
  width: 1000px;
  max-width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
.content h2{
  font-size: 26px;
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 20px;
  margin-bottom: 24px;
  border-bottom: 2px solid #E9ECEF;
}
.wrapper_gitTw{
  display: flex;
  justify-content: space-between;
}
.wrapper_gitTw>section{
  width: 45.6%;
}
@media (max-width: 576px){
  .content section{
    padding: 40px 0 20px;
  }
  .wrapper_gitTw{
    flex-direction: column;
  }
  .wrapper_gitTw>section{
    width: 100%;
  }

}