.mv{
  min-height: 248px;
  color: #fff;
  background: #E64980;
  display: flex;
  align-items: center;
}
.mv_inner{
  width: 1000px;
  max-width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
.mv h2{
  font-size: 36px;
  font-weight: 700px;
}
.mv p{
  font-size: 16px;
  font-weight: 700px;
}