.github_body ul {
  margin-bottom: 32px;
}
.github_body ul li {
  margin-bottom: 40px;
}
.github_body h3 {
  font-size: 18px;
  font-weight: 700;
}
.github_body p {
  font-size: 16px;
  margin-top: 8px;
}
.icons {
  color: #909296;
  display: flex;
  margin: 8px 0;
}
.icon {
  margin-right: 20px;
}
.icon span {
  font-size: 12px;
  vertical-align: middle;
}
.icon span:nth-child(1) {
  margin-right: 6px;
}
.langText {
  font-size: 12px;
  font-weight: 700;
  margin-top: 8px;
}
.lang {
  margin-right: 20px;
}
.lang::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: transparent;
  margin-right: 6px;
}
.lang:nth-child(1)::before {
  background: #3178c6;
}
.lang:nth-child(2)::before {
  background: #f1e05a;
}
.lang:nth-child(3)::before {
  background: #ededed;
}
.lang span:first-child {
  margin-right: 6px;
}
.ratio {
  color: #909296;
}
